@forward '../sass/layout/global';
@forward '../sass/layout/header';
@forward '../sass/layout/home';
@forward '../sass/layout/footer';



@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&family=Plus+Jakarta+Sans:wght@500;800&display=swap');