
#footer {
	background-color: #22112c;
	padding: 2rem 0;
	color: white;

	ion-icon {
		font-size: 30px;
	}

	a {
		color: white;
	}

	img {
		max-width: 20%;
	}

	.footer_wrap_box {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		margin-bottom: 2rem;
	}

	.socials {
		display: flex;
		gap: 20px;
		margin: 1rem 0;
	}

	.footer_box {
		flex: 1;
		justify-self: right;
	}

	.copy {
		border-top: 1px solid white;
		display: flex;
		justify-content: space-between;
		padding-top: 1rem;
	}
}