
#home_header {
    height: 100vh;
    background:
        linear-gradient(rgba(109, 53, 142, 0.6), rgba(109, 53, 142, 0.6)),
        url('/images/hero_image.jpg') center/cover no-repeat;

    h1 {
        font-size: 3.9rem;
        max-width: 55%;
        color: white;
        padding: 1.5rem 0;
    }

    .logo {
        max-width: 10%;
    }

    .nav {
        background: #22112c;
        padding: 1rem 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .navigation {
            display: flex;
            align-items: center;

            ul {
                display: flex;
                align-items: center;
                justify-content: center;

                li {
                    border-bottom: 2px solid #58ACDD;
                    padding-bottom: 0.3rem;
                }
            }
        }

        a {
            color: white;
        }

        li {
            margin-left: 1.5rem;
            font-size: 20px;
        }

        .flyout_menu {
            display: none;
        }

        > div {
            display: flex;
        }

        .nav_button {
            background-color: #58ACDD;
            display: inline-block;
            padding: 0.9rem;
            color: white;
            border-radius: 5px;
            margin-left: 1.5rem;

            a {
                color: white;
                font-weight: bold;
                font-size: 20px;
            }
        }
    }
    
    .burger_menu {
        padding: 0.5rem;
        border-radius: 5px;
        margin-left: 1rem;
        display: none;

        span {
            background-color: #58ACDD;
            display: block;
            padding: 0.2rem 0;
            margin: 0.2rem 0;
            width: 30px;
            border-radius: 3px
        }
    }

    .mission {
        display: flex;
        color: white;
        gap: 10px;

        div {
            padding: 2rem;
            background: rgba(97, 192, 241, 0.5);
            backdrop-filter: blur(2px);
            border-radius: 5px;
        }
    }
   
}


#about_us {
    
    .flex {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        div {
            flex: 1;
        }

        .values {
            display: flex;
            align-items: center;
            gap: 10px;

            .icon_wrap {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background: #e0f4ee;
                display: flex;
                align-items: center;
                justify-content: center;
            
                ion-icon {
                    font-size: 35px;
                    color: #58ACDD;
                }
            }

            > div {
                background-color: #58ACDD;
                padding: 1.5rem;
                border-radius: 5px;
            }

            .title {
                display: flex;
                align-items: center;
            }
        }
    }
}

#suporters {

    .companies {
        display: flex;
        justify-content: space-between;

        ion-icon {
            font-size: 50px;
        }
    }

}

#projects {

    .project_box_wrap {
        display: flex;
        gap: 10px;
        color: rgb(215, 214, 214);

        .project_box {
            background:
            linear-gradient(rgba(109, 53, 142, 0.6), rgba(109, 53, 142, 0.6)),
            url('/images/hero_image.jpg') center/cover no-repeat;
            padding: 2rem;
            border-radius: 5px;

            a {
                background: #58ACDD;
                padding: 1rem;
                display: inline-block;
                border-radius: 5px;
                color: white;
            }
        }
    }

}

#achievements {

    .achievement_box {

        display: flex;
        justify-content: space-between;
        gap: 10px;

        .achievement {
            background-color: #58ACDD;
            text-align: center;
            padding: 3rem;
            flex: 1;

            ion-icon {
                font-size: 45px;
            }

        }
    }

#achievements {
        padding: 80px 0;
        background: #ffffff;
    }

    .achievements-header {
        text-align: left;
        margin-bottom: 40px;
    }

    .fun-title {
        font-size: 18px;
        color: #444;
    }

    .main-title {
        font-size: 32px;
        font-weight: 600;
        color: #222;
    }

    .achievement_box {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 25px;
    }

    .achievement {
        text-align: center;
        padding: 40px 20px;
        background: #e8f7f2;    
        border-radius: 5px;
        transition: 0.3s;
    }

    .achievement:hover {
        background: #bbe3fa;
    }

    .icon_wrap {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background: #e0f4ee;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        margin-bottom: 20px;
    }

    .icon_wrap ion-icon {
        font-size: 40px;
        color: #58ACDD;
    }

    .achievement h2 {
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 5px;
        color: #222;
    }

    .achievement p {
        font-size: 14px;
        color: #666;
    }

}

#frequently_asked_questions {

    .question_answer_wrap {

    }

    .question_box {
        border: 2px solid #58ACDD;
        border-radius: 5px;

        .question {
            background-color: #58ACDD;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid rgb(215, 214, 214);
        }

        .answer, .question {
            padding: 1rem;
        }

        .answer {
            display: none;
        }
    }

}

#call_to_action {

    .call_to_action_wrap {
        height: 400px;
        background:
        linear-gradient(rgba(109, 53, 142, 0.6), rgba(109, 53, 142, 0.6)),
        url('/images/call_to_action_img.jpg') center/cover no-repeat;
        border-radius: 5px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;

        > div {

            h1 {
                max-width: 50%;
                margin: auto;
            }
        }

        a {
            font-weight: bold;
            color: white;
            display: inline-block;
            padding: 0.9rem;
            border-radius: 5px;
            text-align: center;
        }

        .call_to_action_buttons {
            text-align: center;

            a:first-child {
                background-color: #58ACDD;
            }

            a:last-child {
                border: 2px solid #58ACDD;
            }

        }
    }

}