
#about_us {

    ion-icon {
        font-size: xx-large;
    }


    .flex {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        div {
            flex: 1;
        }

        .values {
            display: flex;
            align-items: center;
            gap: 10px;

            > div {
                background-color: #58ACDD;
                padding: 1.5rem;
                border-radius: 5px;
            }

            .title {
                display: flex;
                align-items: center;
            }
        }
    }
}

#suporters {

    .companies {
        display: flex;
        justify-content: space-between;

        ion-icon {
            font-size: 50px;
        }
    }

}

#achievements {
    .achievement_box {
        display: flex;
        justify-content: space-between;
        gap: 10px;

        .achievement {
            background-color: #58ACDD;
            text-align: center;
            padding: 3rem;
            flex: 1;

            ion-icon {
                font-size: 45px;
            }

        }
    }

    #achievements {
    padding: 80px 0;
    background: #ffffff;
}

.achievements-header {
    text-align: left;
    margin-bottom: 40px;
}

.fun-title {
    font-size: 18px;
    color: #444;
}

.main-title {
    font-size: 32px;
    font-weight: 600;
    color: #222;
}

.achievement_box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.achievement {
    text-align: center;
    padding: 40px 20px;
    background: #e8f7f2;    
    border-radius: 5px;
    transition: 0.3s;
}

.achievement:hover {
    background: #bbe3fa;
}

.icon_wrap {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #e0f4ee;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
}

.icon_wrap ion-icon {
    font-size: 40px;
    color: #58ACDD;
}

.achievement h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 5px;
    color: #222;
}

.achievement p {
    font-size: 14px;
    color: #666;
}

}