@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&family=Plus+Jakarta+Sans:wght@500;800&display=swap");
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

.container {
  max-width: 1250px;
  margin: auto;
  padding: 0 1rem;
}

img {
  max-width: 100%;
}

.heading {
  display: flex;
}
.heading p {
  margin-left: 0.4rem;
}

.underline {
  color: #58ACDD;
  font-weight: 800;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

#header {
  height: 100vh;
  background: linear-gradient(rgba(109, 53, 142, 0.6), rgba(109, 53, 142, 0.6)), url("/images/hero_image.jpg") center/cover no-repeat;
}
#header h1 {
  font-size: 3.9rem;
  max-width: 55%;
  color: white;
  padding: 1rem 0;
}
#header .logo {
  max-width: 10%;
}
#header .nav {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header .nav .navigation {
  display: flex;
  align-items: center;
}
#header .nav .navigation ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
#header .nav a {
  color: white;
}
#header .nav li {
  margin-left: 1.5rem;
  font-size: 20px;
}
#header .nav .flyout_menu {
  display: none;
}
#header .nav > div {
  display: flex;
}
#header .nav .nav_button {
  background-color: #58ACDD;
  display: inline-block;
  padding: 0.9rem 0.9rem;
  color: white;
  border-radius: 5px;
  margin-left: 1.5rem;
}
#header .nav .nav_button a {
  color: white;
  font-weight: bold;
  font-size: 20px;
}
#header .burger_menu {
  padding: 0.5rem;
  border-radius: 5px;
  margin-left: 1rem;
  display: none;
}
#header .burger_menu span {
  background-color: #58ACDD;
  display: block;
  padding: 0.2rem 0;
  margin: 0.2rem 0;
  width: 30px;
  border-radius: 3px;
}
#header .mission {
  display: flex;
  color: white;
  gap: 10px;
}
#header .mission div {
  padding: 2rem;
  background: rgba(97, 192, 241, 0.5);
  backdrop-filter: blur(2px);
  border-radius: 5px;
}

#about_us ion-icon {
  font-size: xx-large;
}
#about_us .flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
#about_us .flex div {
  flex: 1;
}
#about_us .flex .values {
  display: flex;
  align-items: center;
  gap: 10px;
}
#about_us .flex .values > div {
  background-color: #58ACDD;
  padding: 1.5rem;
  border-radius: 5px;
}
#about_us .flex .values .title {
  display: flex;
  align-items: center;
}

#suporters .companies {
  display: flex;
  justify-content: space-between;
}
#suporters .companies ion-icon {
  font-size: 50px;
}

#achievements .achievement_box {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
#achievements .achievement_box .achievement {
  background-color: #58ACDD;
  text-align: center;
  padding: 3rem;
  flex: 1;
}
#achievements .achievement_box .achievement ion-icon {
  font-size: 45px;
}
#achievements #achievements {
  padding: 80px 0;
  background: #ffffff;
}
#achievements .achievements-header {
  text-align: left;
  margin-bottom: 40px;
}
#achievements .fun-title {
  font-size: 18px;
  color: #444;
}
#achievements .main-title {
  font-size: 32px;
  font-weight: 600;
  color: #222;
}
#achievements .achievement_box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}
#achievements .achievement {
  text-align: center;
  padding: 40px 20px;
  background: #e8f7f2;
  border-radius: 5px;
  transition: 0.3s;
}
#achievements .achievement:hover {
  background: #bbe3fa;
}
#achievements .icon_wrap {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #e0f4ee;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 20px;
}
#achievements .icon_wrap ion-icon {
  font-size: 40px;
  color: #58ACDD;
}
#achievements .achievement h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 5px;
  color: #222;
}
#achievements .achievement p {
  font-size: 14px;
  color: #666;
}