@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&family=Plus+Jakarta+Sans:wght@500;800&display=swap");
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  line-height: 1.6;
}

h1 {
  line-height: 1.2;
}

h2 {
  line-height: 1.25;
}

h3 {
  line-height: 1.3;
}

p {
  line-height: 1.6;
}

.container {
  max-width: 1250px;
  margin: auto;
  padding: 0 1rem;
}

img {
  max-width: 100%;
}

.heading {
  display: flex;
}
.heading p {
  margin-left: 0.4rem;
}

.underline {
  color: #58ACDD;
  font-weight: 800;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

#header h1 {
  font-size: 3.9rem;
  max-width: 55%;
  color: white;
  padding: 1.5rem 0;
}
#header .logo {
  max-width: 10%;
}
#header .nav {
  background: #22112c;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header .nav .navigation {
  display: flex;
  align-items: center;
}
#header .nav .navigation ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
#header .nav .navigation ul li {
  border-bottom: 2px solid #58ACDD;
  padding-bottom: 0.3rem;
}
#header .nav a {
  color: white;
}
#header .nav li {
  margin-left: 1.5rem;
  font-size: 20px;
}
#header .nav .flyout_menu {
  display: none;
}
#header .nav > div {
  display: flex;
}
#header .nav .nav_button {
  background-color: #58ACDD;
  display: inline-block;
  padding: 0.9rem;
  color: white;
  border-radius: 5px;
  margin-left: 1.5rem;
}
#header .nav .nav_button a {
  color: white;
  font-weight: bold;
  font-size: 20px;
}
#header .burger_menu {
  padding: 0.5rem;
  border-radius: 5px;
  margin-left: 1rem;
  display: none;
}
#header .burger_menu span {
  background-color: #58ACDD;
  display: block;
  padding: 0.2rem 0;
  margin: 0.2rem 0;
  width: 30px;
  border-radius: 3px;
}
#header .mission {
  display: flex;
  color: white;
  gap: 10px;
}
#header .mission div {
  padding: 2rem;
  background: rgba(97, 192, 241, 0.5);
  backdrop-filter: blur(2px);
  border-radius: 5px;
}

#home_header {
  height: 100vh;
  background: linear-gradient(rgba(109, 53, 142, 0.6), rgba(109, 53, 142, 0.6)), url("/images/hero_image.jpg") center/cover no-repeat;
}
#home_header h1 {
  font-size: 3.9rem;
  max-width: 55%;
  color: white;
  padding: 1.5rem 0;
}
#home_header .logo {
  max-width: 10%;
}
#home_header .nav {
  background: #22112c;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#home_header .nav .navigation {
  display: flex;
  align-items: center;
}
#home_header .nav .navigation ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
#home_header .nav .navigation ul li {
  border-bottom: 2px solid #58ACDD;
  padding-bottom: 0.3rem;
}
#home_header .nav a {
  color: white;
}
#home_header .nav li {
  margin-left: 1.5rem;
  font-size: 20px;
}
#home_header .nav .flyout_menu {
  display: none;
}
#home_header .nav > div {
  display: flex;
}
#home_header .nav .nav_button {
  background-color: #58ACDD;
  display: inline-block;
  padding: 0.9rem;
  color: white;
  border-radius: 5px;
  margin-left: 1.5rem;
}
#home_header .nav .nav_button a {
  color: white;
  font-weight: bold;
  font-size: 20px;
}
#home_header .burger_menu {
  padding: 0.5rem;
  border-radius: 5px;
  margin-left: 1rem;
  display: none;
}
#home_header .burger_menu span {
  background-color: #58ACDD;
  display: block;
  padding: 0.2rem 0;
  margin: 0.2rem 0;
  width: 30px;
  border-radius: 3px;
}
#home_header .mission {
  display: flex;
  color: white;
  gap: 10px;
}
#home_header .mission div {
  padding: 2rem;
  background: rgba(97, 192, 241, 0.5);
  backdrop-filter: blur(2px);
  border-radius: 5px;
}

#about_us .flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
#about_us .flex div {
  flex: 1;
}
#about_us .flex .values {
  display: flex;
  align-items: center;
  gap: 10px;
}
#about_us .flex .values .icon_wrap {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #e0f4ee;
  display: flex;
  align-items: center;
  justify-content: center;
}
#about_us .flex .values .icon_wrap ion-icon {
  font-size: 35px;
  color: #58ACDD;
}
#about_us .flex .values > div {
  background-color: #58ACDD;
  padding: 1.5rem;
  border-radius: 5px;
}
#about_us .flex .values .title {
  display: flex;
  align-items: center;
}

#suporters .companies {
  display: flex;
  justify-content: space-between;
}
#suporters .companies ion-icon {
  font-size: 50px;
}

#projects .project_box_wrap {
  display: flex;
  gap: 10px;
  color: rgb(215, 214, 214);
}
#projects .project_box_wrap .project_box {
  background: linear-gradient(rgba(109, 53, 142, 0.6), rgba(109, 53, 142, 0.6)), url("/images/hero_image.jpg") center/cover no-repeat;
  padding: 2rem;
  border-radius: 5px;
}
#projects .project_box_wrap .project_box a {
  background: #58ACDD;
  padding: 1rem;
  display: inline-block;
  border-radius: 5px;
  color: white;
}

#achievements .achievement_box {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
#achievements .achievement_box .achievement {
  background-color: #58ACDD;
  text-align: center;
  padding: 3rem;
  flex: 1;
}
#achievements .achievement_box .achievement ion-icon {
  font-size: 45px;
}
#achievements #achievements {
  padding: 80px 0;
  background: #ffffff;
}
#achievements .achievements-header {
  text-align: left;
  margin-bottom: 40px;
}
#achievements .fun-title {
  font-size: 18px;
  color: #444;
}
#achievements .main-title {
  font-size: 32px;
  font-weight: 600;
  color: #222;
}
#achievements .achievement_box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}
#achievements .achievement {
  text-align: center;
  padding: 40px 20px;
  background: #e8f7f2;
  border-radius: 5px;
  transition: 0.3s;
}
#achievements .achievement:hover {
  background: #bbe3fa;
}
#achievements .icon_wrap {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #e0f4ee;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 20px;
}
#achievements .icon_wrap ion-icon {
  font-size: 40px;
  color: #58ACDD;
}
#achievements .achievement h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 5px;
  color: #222;
}
#achievements .achievement p {
  font-size: 14px;
  color: #666;
}

#frequently_asked_questions .question_box {
  border: 2px solid #58ACDD;
  border-radius: 5px;
}
#frequently_asked_questions .question_box .question {
  background-color: #58ACDD;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(215, 214, 214);
}
#frequently_asked_questions .question_box .answer, #frequently_asked_questions .question_box .question {
  padding: 1rem;
}
#frequently_asked_questions .question_box .answer {
  display: none;
}

#call_to_action .call_to_action_wrap {
  height: 400px;
  background: linear-gradient(rgba(109, 53, 142, 0.6), rgba(109, 53, 142, 0.6)), url("/images/call_to_action_img.jpg") center/cover no-repeat;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
#call_to_action .call_to_action_wrap > div h1 {
  max-width: 50%;
  margin: auto;
}
#call_to_action .call_to_action_wrap a {
  font-weight: bold;
  color: white;
  display: inline-block;
  padding: 0.9rem;
  border-radius: 5px;
  text-align: center;
}
#call_to_action .call_to_action_wrap .call_to_action_buttons {
  text-align: center;
}
#call_to_action .call_to_action_wrap .call_to_action_buttons a:first-child {
  background-color: #58ACDD;
}
#call_to_action .call_to_action_wrap .call_to_action_buttons a:last-child {
  border: 2px solid #58ACDD;
}

#footer {
  background-color: #22112c;
  padding: 2rem 0;
  color: white;
}
#footer ion-icon {
  font-size: 30px;
}
#footer a {
  color: white;
}
#footer img {
  max-width: 20%;
}
#footer .footer_wrap_box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 2rem;
}
#footer .socials {
  display: flex;
  gap: 20px;
  margin: 1rem 0;
}
#footer .footer_box {
  flex: 1;
  justify-self: right;
}
#footer .copy {
  border-top: 1px solid white;
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}